# Git
.git
.gitignore

# Dependencies
**/node_modules
vendor

# Build output
build
bin
dist
gauth-server
gauth-web
*.exe
*.test
*.out
*.log

# Docker
docker-compose.yml
docker-compose.production.yml
Dockerfile
Dockerfile.production
.dockerignore

# IDEs
.idea
.vscode
*.swp
*.swo

# Environment
.env
.env.*
! .env.example

# OS
.DS_Store
Thumbs.db

# Documentation
docs/site